#tab-getting-started
    h1 Getting Started
    h4 Bootbox like plugins for Materialize 1.0.
    p The plugin implement materialize modal and style. No more additional css to include.
    p This is a plugin. Just include the js file after materialize, and you're ready to go.
    pre
        code.language-html
            | &lt;!-- Compiled and minified CSS --&gt;
            | &lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"&gt;
            | 
            | &lt;!-- Compiled and minified JavaScript --&gt;
            | &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"&gt;&lt;/script&gt;
            | 
            | &lt;!-- Materialize Bootbox --&gt;
            | &lt;script src="static/js/mzbox.min.js"&gt;&lt;/script&gt;