ul.tabs.tabs-transparent
    li.tab
        a.active(href="#tab-getting-started") Getting Started
    li.tab
        a(href="#tab-alert") Alert
    li.tab
        a(href="#tab-confirm") Confirm
    li.tab
        a(href="#tab-prompt") Prompt
    li.tab
        a(href="#tab-dialog") Dialog
    li.tab
        a(href="#tab-options") Options
    li.tab
        a(href="#tab-methods") Methods
    li.tab
        a(href="#tab-box") Box